.l-records {
  padding-top: 104px;
  padding-right: 16px;
  padding-bottom: 104px;
  padding-left: 16px;
}

@media screen and (max-width: 960px) {
  .l-records {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.l-records-heading__outer {
  padding-bottom: 25px;
  text-align: center;
}

.l-records-label {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5em;
  text-align: center;
  padding-bottom: 2rem;

  span {
    display: inline-block;
    font-size: 1.25em;
  }
}

.l-records-company__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  max-width: 795px;
  margin: 0 auto;

  img {
    width: auto;
    height: 66px;
  }
}

@media not all and (min-resolution:.001dpcm) {
  @supports (not (translate: none)) {
    // Safari 14.0.x だけに適用される CSS
    .l-records-company__list {
      li {
        margin: 8px;
      }
    }
  }
}



@media screen and (max-width: 520px) {
  .l-records-label {
    font-size: 1.6rem;
  }

  .l-records-company__list {
    img {
      width: auto;
      height: 50px;
    }
  }
}